In [13]:
import pandas as pd

In [14]:
csv_file_path='selected_data.csv'

In [15]:

df = pd.read_csv(csv_file_path, encoding='cp949')

In [16]:
df.head(15)

      회차   1   2   3   4   5   6  보너스        당첨금액
0   1094   6   7  15  22  26  40   41  2112854469
1   1093  10  17  22  30  35  43   44  1967040750
2   1092   7  18  19  26  33  45   37  1583289844
3   1091   6  20  23  24  28  30   44  2898470459
4   1090  12  19  21  29  40  45    1  2386494614
5   1089   4  18  31  37  42  43   40  2978522167
6   1088  11  21  22  30  39  44   31  2434697898
7   1087  13  14  18  21  34  44   16  1732253602
8   1086  11  16  25  27  35  36   37  1515913809
9   1085   4   7  17  18  38  44   36  1073277473
10  1084   8  12  13  29  33  42    5  1738764600
11  1083   3   7  14  15  22  38   17  1713084525
12  1082  21  26  27  32  34  42   31  3720489643
13  1081   1   9  16  23  24  38   17  2343892944
14  1080  13  16  23  31  36  44   38  3639444429

In [17]:
all_numbers = pd.concat([df[col] for col in ['1','2','3','4','5','6','보너스']])

In [18]:
number_counts = all_numbers.value_counts().sort_index()

In [19]:
number_counts

1     182
2     171
3     173
4     177
5     162
6     174
7     173
8     160
9     140
10    173
11    172
12    183
13    180
14    177
15    169
16    170
17    185
18    183
19    166
20    177
21    170
22    146
23    152
24    175
25    155
26    176
27    186
28    153
29    150
30    165
31    173
32    158
33    182
34    186
35    172
36    170
37    173
38    174
39    175
40    173
41    150
42    164
43    187
44    170
45    176
Name: count, dtype: int64

In [20]:
import numpy as np

In [21]:
from statsmodels.tsa.arima.model import ARIMA

In [22]:
df['회차'] = range(1, len(df)+1)

In [23]:
predict_numbers = {}  # 다음 회차 예측

In [24]:
for col in ['1','2','3','4','5','6','보너스']:
  model = ARIMA(df[col], order=(5,1,0))
  model_fit = model.fit()
  
  predicted = model_fit.forecast()
  predict_numbers[col] = np.round(predicted.iloc[0])

In [25]:
predict_numbers

{'1': 12.0, '2': 20.0, '3': 26.0, '4': 30.0, '5': 36.0, '6': 39.0, '보너스': 15.0}

In [26]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [27]:
!python -m pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dcu\.conda\envs\condatest2\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\dcu\.conda\envs\condatest2\lib\site-packages (from scikit-learn) (1.24.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\dcu\.conda\envs\condatest2\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dcu\.conda\envs\condatest2\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dcu\.conda\envs\condatest2\lib\site-packages (from scikit-learn) (3.2.0)

In [28]:
for col in ['1','2','3','4','5','6','보너스']:
  X = df.drop(columns=[col])
  y = df[col]
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
  model = RandomForestRegressor(n_estimators=100, random_state=42)
  model.fit(X_train, y_train)
  predicted = model.predict(X_test.iloc[-1].values.reshape(1, -1))
  predict_numbers[col] = np.round(predicted[0])

c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [29]:
X

        회차   1   2   3   4   5   6        당첨금액
0        1   6   7  15  22  26  40  2112854469
1        2  10  17  22  30  35  43  1967040750
2        3   7  18  19  26  33  45  1583289844
3        4   6  20  23  24  28  30  2898470459
4        5  12  19  21  29  40  45  2386494614
...    ...  ..  ..  ..  ..  ..  ..         ...
1089  1090  16  24  29  40  41  42           0
1090  1091  14  27  30  31  40  42           0
1091  1092  11  16  19  21  27  31  2000000000
1092  1093   9  13  21  25  32  42  2002006800
1093  1094  10  23  29  33  37  40           0

[1094 rows x 8 columns]

In [30]:
predict_numbers

{'1': 9.0, '2': 18.0, '3': 27.0, '4': 30.0, '5': 40.0, '6': 44.0, '보너스': 24.0}

In [31]:
import tkinter as tk
from tkinter import messagebox

In [32]:
def predict_lotto_numbers():
  try:
    csv_file_path='selected_data.csv'
    df = pd.read_csv(csv_file_path, encoding='cp949')
    df['회차'] = range(1, len(df)+1)
    predict_numbers = {}
    for col in ['1','2','3','4','5','6','보너스']:
      X = df.drop(columns=[col])
      y = df[col]
      X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
      model = RandomForestRegressor(n_estimators=100, random_state=42)
      model.fit(X_train, y_train)
      predicted = model.predict(X_test.iloc[-1].values.reshape(1, -1))
      predict_numbers[col] = np.round(predicted[0])
      predicted_text = "\n".join([f"{k}: {v}" for k, v in predict_numbers.items()])
      messagebox.showinfo("예측 결과", predicted_text)
      
  except Exception as e:
    messagebox.showerror("오류", str(e))

In [33]:
root = tk.Tk()
root.title("로또 번호 예측기")
predicted_button = tk.Button(root, text="번호 예측하기", command=predict_lotto_numbers)
predicted_button.pack(pady=20)

root.mainloop()

c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\DCU\.conda\envs\condatest2\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(